<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Taco Cloud</title>
    <link rel="stylesheet" th:href="@{/styles.css}">
</head>
<body>

<h1>Design your Taco!</h1>
<img alt="alt" th:src="@{/images/tacoCloud.avif}">

<!-- Start of ordering form -->
<form method="post" th:object="${taco}">
    <div class="grid">
        
        <!-- Start of grid for adding ingredients -->
        <div class="ingredient-group" id="wraps">
            <h3>Design your wrap:</h3>
            <div th:each="ingredient: ${wrap}">
                <input th:field="*{ingredients}" type="checkbox"
                       value="${ingredients.id}"/>
                <span th:text="${ingredient.name}">INGREDIENT</span><br/>
            </div>
        </div>
        
        <div class="ingredient-group" id="proteins">
            <h3>pick your protien:</h3>
            <div th:each="ingredient: ${protein}">
                <input th:field="*{ingredients}" type="checkbox"
                       value="${ingredients.id}"/>
                <span th:text="${ingredient.name}">INGREDIENT</span><br/>
            </div>
        </div>
        
        <div class="ingredient-group" id="cheeses">
            <h3>Choose your cheese:</h3>
            <div th:each="ingredient: ${cheese}">
                <input th:field="*{ingredients}" type="checkbox"
                       value="${ingredients.id}"/>
                <span th:text="${ingredient.name}">INGREDIENT</span><br/>
            </div>
        </div>
        
        <div class="ingredient-group" id="veggies">
            <h3>Determine your veggies:</h3>
            <div th:each="ingredient: ${veggies}">
                <input th:field="*{ingredients}" type="checkbox"
                       value="${ingredients.id}"/>
                <span th:text="${ingredient.name}">INGREDIENT</span><br/>
            </div>
        </div>
        
        <div class="ingredient-group" id="sauces">
            <h3>Select your sauce:</h3>
            <div th:each="ingredient: ${sauce}">
                <input th:field="*{ingredients}" type="checkbox"
                       value="${ingredients.id}"/>
                <span th:text="${ingredient.name}">INGREDIENT</span><br/>
            </div>
        </div>
    </div>
    <div>
        <h3>Name your taco creation:</h3>
        <input th:field="*{name}" type="text"/>
        <br>
        
        <button>Submit your taco</button>
    </div>
</form>
</body>
</html>